/* Stephanie Donnelly - Lab 5 - COM 271 Fall 2016 */

html{
    margin:0;
    padding:0;
    background-color:white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:600px;
    margin:0px auto 0px;
    border: 3px solid #931420;
    background-color:#fffded;
    width: 800px;
}

header{
    padding-top:1.5em;
    padding-bottom:2em;
    background:linear-gradient(45deg,#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    border-bottom: 3px solid #931420;
}

header img {
	float: left;
    padding-left: 30px;
    padding-right:30px;
}


header h2{
    color: #800000;
}

header h3{
    font-style: italic;
}

#nav_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu li{
    float:left;
    width: 20%;
}

#nav_menu li a{
    display: block;
    text-align: center;
    padding: 1em 0em;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu ul{
    display: none;
    list-style-type: none;
    position: absolute;
}

#nav_menu ul li{
    float: none;
    top: 100%;
    width: 100%;
}

#nav_menu li:hover > ul, #navmenu li ul li{
    display: block;
}

#nav_menu li a.current{
    color: yellow;
}


#nav_menu::after{
    content: "";
    clear: both;
    display: block;
    color: #000;
}

main {
	clear: left;
}

section{
    float: right;
    width:525px;
    padding: 0px 20px 20px 0px;
}

section h1{
    font-size: 150%;
    padding: 0.5em 0px 0.25em 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

article{
    padding: 0.5em 0px;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

article img{
    float: right;
    border: 1px solid black;
}

article h2{
    padding-top:0px;
}

article h3{
    font-size: 105%;
    padding-bottom: 0.25em;
}

aside{
    width: 215px;
    float:right;
    padding: 0px 20px 20px 0px;
}

aside h2{
    font-size: 120%;
    padding: 0.5em 0em 0.25em;
}

aside h3{
    padding-bottom: 0.25em;
    font-size: 105%;
    padding-bottom: 0.25em;
}

aside img{
    padding-bottom: 1em;
}

aside p{
    padding-bottom:0.5em;
}

aside blockquote{
    padding: 0px 2em;
    font-style:italic;
}

aside ul{
    padding: 0px 0em 0.25em 1.25em;
}

aside li{
    padding-bottom: 0.35em;
}

#speakers{
    font-size: 175%;
    color: black;
}


.shadow{
    text-shadow: 2px 2px 1px #800000;
}

a:hover, a:focus{
    color: #800000;
    font-style: italic;
}

footer{
    background-color: #931420;
    border: 3px solid #931420;
    clear: right;
}

footer p{
    text-align: center;
    padding-top:1em 0em;
    color: white;
}
