/* Stephanie Donnelly - Lab 5 - COM 271 Fall 2016 */

/*step 8*/
html{
    margin:0;
    padding:0;
    /*step 4*/
    background-color:white;
}

/*step 2 */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width:600px;
    margin:0px auto 0px;
    border: 3px solid #931420;
    /*step 3*/
    background-color:#fffded;
}

header{
    /*step 9*/
    padding-top:1.5em;
    padding-bottom:2em;
    /*step 15*/
    background:linear-gradient(45deg,#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
    /*step 5*/
    border-bottom: 3px solid #931420;
}

header img {
	float: left;
    padding-left: 30px;
    padding-right:30px;
}


header h2{
    color: #800000;
}

header h3{
    font-style: italic;
}

/*step 10*/
main {
	clear: left;
    padding: 0px 30px 0px 30px;
}

/*step 6*/
main h1{
    font-size: 150%;
    color: #800000;
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    padding: 0.3px 0em;
}

/*step 11*/
main h2{
    font-size: 120%;
    padding: 0.5em 0em 0.25em;
}

main h3{
    padding-bottom: 0.25em;
}

main img{
    padding-bottom: 1em;
}

main p{
    padding-bottom:0.5em;
}

main blockquote{
    padding: 0px 2em;
    /*step 14*/
    font-style:italic;
}

main ul{
    padding: 0px 0em 0.25em 1.25em;
}

main li{
    padding-bottom: 0.35em;
}

#speakers{
    font-size: 175%;
    color: black;
}


.shadow{
    text-shadow: 2px 2px #800000;
}


a:hover, a:focus{
    color: #800000;
    font-style: italic;
}

/*step 7*/
footer{
    background-color: #931420;
    border: 3px solid #931420;
}

/*step 7*/
footer p{
    text-align: center;
    /*step 12*/
    padding-top:1em 0em;
    color: white;
}
